a:link{
    color: rgb(22, 223, 22);
    background-color: transparent;
    text-decoration: none;
    font-size: 40;
    border-color: green;
    border-width: 100px;   
    background-color: palevioletred;
}

a:visited{
    color: rgb(128, 77, 0);
    background-color: transparent;
    text-decoration: none;
    border-color: green;
    border-width: 100px;
    font-size: 20;
    padding: 15px 25px;
    background-color: white;
}

a:active{
    color: red;
    border: green;
    border-width: 100px;
    background-color: white;
}

a:hover{
    color: orangered;
}

